In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
names_path = 'D:\Project\GitHub\Learning\PY-4.1\\names\\'
cols = ['Name','Gender','Count']

In [3]:
def agg_count(row):
    row.Count = int(row.Count + row.Count_newyear)
    return row

In [4]:
def count_top3_names(years_list):
    names_in_years = pd.read_csv(names_path + 'yob' + str(years_list[0]) + '.txt', names=cols)
    for year in years_list[1:]:
        year_str = str(year)
        names = pd.read_csv(names_path + 'yob' + year_str + '.txt', names=cols)
        names_in_years = pd.merge(names_in_years, names, on=['Name','Gender'], how='outer', suffixes=['', '_newyear'])
        names_in_years = names_in_years.fillna(0)
        names_in_years = names_in_years.apply(agg_count, axis=1)
        names_in_years = names_in_years.drop('Count_newyear', axis=1)
    return names_in_years

count_top3_names([1990, 1991, 1995, 1998]).sort_values(by='Count', ascending=False).head(3)

              Name Gender   Count
15233      Michael      M  204077
15234  Christopher      M  159098
15235      Matthew      M  150438

In [20]:
def count_dynamics(years_list):
    razrez = pd.DataFrame(index=years_list, columns=list('MF'))
    for year in years_list:
        year_str = str(year)
        names = pd.read_csv(names_path + 'yob' + year_str + '.txt', names=cols)
        male_count = names[names.Gender == 'M'].Count.sum()
        female_count = names[names.Gender == 'F'].Count.sum()
        razrez.at[year,'F'] = female_count
        razrez.at[year,'M'] = male_count
    return razrez

count_dynamics([1970,1980,1990])

            M        F
1970  1859647  1748250
1980  1784088  1660042
1990  2052662  1897807